<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://caja-api-solicitudes-cqd3bwctgzf2gkgm.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>5d0de707-0b6f-46e4-bf75-5603f96119e0</ProjectGuid>
    <PublishUrl>https://caja-api-solicitudes-cqd3bwctgzf2gkgm.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$caja-api-solicitudes</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>